@tailwind base;
@tailwind components;
@tailwind utilities;

/* .username-sec{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: space-between;
} */